<section id="about" class="about">
  <div class="container">
    <div class="about-wrap">
      <div class="about-wrap-text">
        <h3 class="about-text-title">About the Game</h3>

        <picture class="about-img-one">
          <source
            srcset="
              ./img/about/about-desk1-1x.png 1x,
              ./img/about/about-desk1-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/about/about-mob1-1x.png 1x,
              ./img/about/about-mob1-1x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/about/about-mob1-1x.png" alt="Image cat about" />
        </picture>
      </div>

      <div class="about-wrap-content">
        <div class="about-wrap-content-text">
          <p class="about-content-text">
            Piffle is a super-cute arcade puzzle game where you bounce fluffy
            Piffle balls to break blocks, solve puzzles, and collect adorable
            characters. You’ll journey through colorful worlds, stop the evil
            Doc Block, and enjoy the most delightful brick breaker experience
            ever!
          </p>
          <p class="about-content-text">
            Whether you're chasing high scores or crafting the rarest Piffle
            balls, every level is bursting with charm and challenge. It's easy
            to play, hard to put down — and irresistibly cute.
          </p>

          <a href="#" class="about-btn">
            <img class="about-btn-img" src="./img/play.png" alt="Google play" />
            <div class="about-btn-text">
              <p class="about-btn-text-one">Get it on</p>
              <p class="about-btn-text-two">Google Play</p>
            </div>
          </a>
        </div>

        <picture class="about-img-two">
          <source
            srcset="
              ./img/about/about-desk2-1x.png 1x,
              ./img/about/about-desk2-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/about/about-mob2-1x.png 1x,
              ./img/about/about-mob2-1x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/about/about-mob2-1x.png" alt="Image island" />
        </picture>
      </div>
    </div>
  </div>
</section>
