<section id="download" class="download">
  <div class="container">
    <div class="download-wrap">
      <div class="download-wrap-content">
        <h3 class="download-text-title">Download Today!</h3>

        <p class="download-text-parag">
          Ready to start your cute & bouncy journey?
        </p>
        <p class="download-text-parag">
          Download Piffle now and enter a world of fluffy fun and clever
          puzzles!
        </p>

        <a href="#" class="download-btn">
          <img
            class="download-btn-img"
            src="./img/play.png"
            alt="Google play"
          />
          <div class="download-btn-text">
            <p class="download-btn-text-one">Get it on</p>
            <p class="download-btn-text-two">Google Play</p>
          </div>
        </a>
      </div>

      <picture class="download-img-one">
        <source
          srcset="
            ./img/download/download-desk-1x.png 1x,
            ./img/download/download-desk-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/download/download-mob-1x.png 1x,
            ./img/download/download-mob-2x.png 2x
          "
          media="(max-width: 1439px)"
        />
        <img
          src="./img/download/download-mob-1x.png"
          alt="Image cat download"
        />
      </picture>

      <img
        src="./img/download/download-cloud-mob1.png"
        alt="Image arrow"
        class="cloud1"
      />

      <img
        src="./img/download/download-cloud-mob2.png"
        alt="Image arrow"
        class="cloud2"
      />

      <img
        src="./img/download/download-cloud-mob1.png"
        alt="Image arrow"
        class="cloud11"
      />

      <img
        src="./img/download/download-cloud-desk1.png"
        alt="Image arrow"
        class="cloud3"
      />

      <img
        src="./img/download/download-cloud-desk1.png"
        alt="Image arrow"
        class="cloud4"
      />

      <img
        src="./img/download/download-cloud-desk1.png"
        alt="Image arrow"
        class="cloud5"
      />

      <img
        src="./img/download/download-cloud-desk1.png"
        alt="Image arrow"
        class="cloud6"
      />
    </div>
  </div>
</section>
