<footer class="footer">
  <div class="footer-wrap">
    <div class="container-footer">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="./cookies.html" class="footer-nav-link">Cookies Policy</a>
        </li>

        <li class="footer-nav-img">
          <img
            width="6"
            height="24"
            src="./img/untitled.png"
            class="footer-nav-img-i"
          />
        </li>

        <li class="footer-nav-item">
          <a href="./privasy.html" class="footer-nav-link">Privacy Policy</a>
        </li>

        <li class="footer-nav-img">
          <img
            width="6"
            height="24"
            src="./img/untitled.png"
            class="footer-nav-img-i"
          />
        </li>

        <li class="footer-nav-item">
          <a href="./terms.html" class="footer-nav-link">Terms & Conditions</a>
        </li>
      </ul>

      <p class="footer-text">All Rights Reserved synthovon.com | 2025</p>
    </div>
  </div>
</footer>
