<section id="gallery" class="gallery">
  <div class="container">
    <div class="gallery-wrap">
      <div class="gallery-wrap-text">
        <h3 class="gallery-text-title">Gallery</h3>

        <picture class="gallery-img-one">
          <source
            srcset="
              ./img/gallery/gallery-desk-cat-1x.png 1x,
              ./img/gallery/gallery-desk-cat-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-mob-cat-1x.png 1x,
              ./img/gallery/gallery-mob-cat-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img
            src="./img/gallery/gallery-mob-cat-1x.png"
            alt="Image cat about"
          />
        </picture>
      </div>

      <div class="gallery-wrap-content swiper gallerySwiper">
        <div class="swiper-wrapper">
          <div class="gallery-card swiper-slide">
            <picture class="gallery-wrap-img img1">
              <source
                srcset="
                  ./img/gallery/gallery-desk1-1x.png 1x,
                  ./img/gallery/gallery-desk1-1x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/gallery-mob1-1x.png 1x,
                  ./img/gallery/gallery-mob1-1x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="./img/gallery/gallery-mob1-1x.png"
                alt="Image gallery"
              />
            </picture>
          </div>

          <div class="gallery-card swiper-slide">
            <picture class="gallery-wrap-img">
              <source
                srcset="
                  ./img/gallery/gallery-desk2-1x.png 1x,
                  ./img/gallery/gallery-desk2-1x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/gallery-mob2-1x.png 1x,
                  ./img/gallery/gallery-mob2-1x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="./img/gallery/gallery-mob2-1x.png"
                alt="Image gallery"
              />
            </picture>
          </div>

          <div class="gallery-card swiper-slide">
            <picture class="gallery-wrap-img">
              <source
                srcset="
                  ./img/gallery/gallery-desk3-1x.png 1x,
                  ./img/gallery/gallery-desk3-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/gallery-mob3-1x.png 1x,
                  ./img/gallery/gallery-mob3-2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="./img/gallery/gallery-mob3-1x.png"
                alt="Image gallery"
              />
            </picture>
          </div>

          <div class="gallery-card swiper-slide">
            <picture class="gallery-wrap-img">
              <source
                srcset="
                  ./img/gallery/gallery-desk4-1x.png 1x,
                  ./img/gallery/gallery-desk4-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/gallery-mob4-1x.png 1x,
                  ./img/gallery/gallery-mob4-2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="./img/gallery/gallery-mob4-1x.png"
                alt="Image gallery"
              />
            </picture>
          </div>

          <div class="gallery-card swiper-slide">
            <picture class="gallery-wrap-img">
              <source
                srcset="
                  ./img/gallery/gallery-desk5-1x.png 1x,
                  ./img/gallery/gallery-desk5-1x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/gallery-mob5-1x.png 1x,
                  ./img/gallery/gallery-mob5-2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img
                src="./img/gallery/gallery-mob5-1x.png"
                alt="Image gallery"
              />
            </picture>
          </div>
        </div>

        <div class="gallery-wrap-btn">
          <button class="gallery-btn-left">
            <img src="./img/gallery/gallery-left.png" />
          </button>

          <button class="gallery-btn-right">
            <img src="./img/gallery/gallery-right.png" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
