<section class="hero">
  <div class="hero-wrap-dop">
    <div class="hero-wrap-content">
      <picture class="hero-img-one">
        <source
          srcset="
            ./img/hero/hero-desk1-1x.png 1x,
            ./img/hero/hero-desk1-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <img src="./img/hero/hero-desk1-1x.png" alt="Image piffle" />
      </picture>

      <div class="hero-wrap-center">
        <h1 class="hero-title">Bounce Into Cuteness!</h1>

        <p class="hero-text">
          Meet Piffle – the most adorable arcade puzzle game filled with fluffy
          cats, vibrant worlds, and bouncy fun. Ready to shoot and break some
          blocks?
        </p>

        <a href="#" class="hero-btn">
          <img class="hero-btn-img" src="./img/play.png" alt="Google play" />
          <div class="hero-btn-text">
            <p class="hero-btn-text-one">Get it on</p>
            <p class="hero-btn-text-two">Google Play</p>
          </div>
        </a>
      </div>

      <picture class="hero-img-two">
        <source
          srcset="
            ./img/hero/hero-desk2-1x.png 1x,
            ./img/hero/hero-desk2-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <img src="./img/hero/hero-desk2-1x.png" alt="Image piffle" />
      </picture>

      <div class="wrap-img-mob">
        <picture class="hero-img-mob-one">
          <source
            srcset="
              ./img/hero/hero-mob1-1x.png 1x,
              ./img/hero/hero-mob1-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/hero/hero-mob1-1x.png" alt="Image piffle" />
        </picture>

        <picture class="hero-img-mob-two">
          <source
            srcset="
              ./img/hero/hero-mob2-1x.png 1x,
              ./img/hero/hero-mob2-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/hero/hero-mob2-1x.png" alt="Image piffle" />
        </picture>
      </div>
    </div>
  </div>
</section>
