<section id="how" class="how">
  <div class="container">
    <div class="how-wrap">
      <div class="how-wrap-text">
        <h3 class="how-text-title">How to Play</h3>

        <picture class="how-img-one">
          <source
            srcset="./img/how/how-desk-1x.png 1x, ./img/how/how-desk-2x.png 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/how/how-mob-1x.png 1x, ./img/how/how-mob-2x.png 2x"
            media="(max-width: 1439px)"
          />
          <img src="./img/how/how-mob-1x.png" alt="Image cat about" />
        </picture>
      </div>

      <div class="how-wrap-content">
        <div class="how-wrap-content-one">
          <div class="how-card">
            <div class="how-card-number">1</div>

            <div class="how-card-content">
              <p class="how-card-title">Aim with a Swipe</p>
              <p class="how-card-text">
                Simply swipe your finger to line up the perfect shot and prepare
                to launch your fluffy Piffle balls!
              </p>
            </div>
          </div>

          <div class="how-card">
            <div class="how-card-number">2</div>

            <div class="how-card-content">
              <p class="how-card-title">Find the Best Angle</p>
              <p class="how-card-text">
                Angles matter! Use walls and bounce tactics to hit tricky blocks
                and maximize your combos.
              </p>
            </div>
          </div>

          <div class="how-card">
            <div class="how-card-number">3</div>

            <div class="how-card-content">
              <p class="how-card-title">Break the Blocks</p>
              <p class="how-card-text">
                Your goal is to destroy every block before they reach the
                bottom. Bounce, hit, and repeat!
              </p>
            </div>
          </div>
        </div>

        <div class="how-wrap-content-two">
          <div class="how-card">
            <div class="how-card-number">4</div>

            <div class="how-card-content">
              <p class="how-card-title">Collect Piffle Balls</p>
              <p class="how-card-text">
                Gather new Piffle characters on your adventure and unlock their
                quirky personalities.
              </p>
            </div>
          </div>

          <div class="how-card">
            <div class="how-card-number">5</div>

            <div class="how-card-content">
              <p class="how-card-title">Use Boosters Wisely</p>
              <p class="how-card-text">
                Power-ups like bombs or lasers give you the edge to clear
                difficult levels with style.
              </p>
            </div>
          </div>

          <div class="how-card">
            <div class="how-card-number">6</div>

            <div class="how-card-content">
              <p class="how-card-title">Play at Your Pace</p>
              <p class="how-card-text">
                No rush! Piffle is stress-free fun you can pick up and play
                anytime.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
